/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Kavinraj
   v1.0
*/
*, *:before, *:after {
    box-sizing: border-box;
}
:focus,a:focus{
  outline: 0;
}
*:focus,a,a:hover,a:focus{
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms 0s ease;
  border: 0;
  outline: 0;
}
svg:not(:root) {
  overflow: hidden;
}
svg {
  overflow: visible;
  display: inline-block;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: fill 300ms 0s ease, stroke 300ms 0s ease, transform 300ms 0s ease, opacity 300ms 0s ease;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
body{
  font-size: 14px;
  font-size:100%;
}
:root{
  font: 16px/1.5 'Open Sans',sans-serif;
   text-rendering: optimizeLegibility;
   box-sizing: border-box;
}

/* Home */
body.home{
    position: relative;
    display: table;
    width: 100vw;
    height: 100vh;
    background: #f00;
    cursor:default;
}
.home-intro{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #fee;
    font: 400 6rem 'Open Sans', sans-serif;
    font-size: 5rem;
}
.home a{
    color: #fff;
    cursor:default;
}
/* Workspace */
.info-list-card{
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    /* To make the transition work nicely. (Transitions to/from 
    "width:auto" are buggy in Gecko and Webkit, at least.
    See http://bugzil.la/731886 for more info.) */
    transition: width 0.7s ease-out;
}
.info-list-card > li{
    width: 25%;
    width: calc((100% / 12) * 3 - 30px - 2px - 0px);
    display: flex;
    flex-flow: row wrap;
    flex-grow: 3;
    margin: 15px 15px 15px;
    border: 1px solid #efefef;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    overflow: hidden;
}

.info-list-card > li > a{
    padding: 15px;
    background: #fff;
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #323232;
}

.cover-image{
	width: 60px;
    height: auto;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #ccc;
}

.cover-images{
    width: 100%;
    height: auto;
}

.cover-imaged{
    width: 26px;
    height: 26px;
    margin-right: 15px;
}

.chromeapp span{
    border-left: 1px solid #ccc;
    padding-left: 15px;
}